<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- CXF with spring configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/service.spring.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- OPC UA Most server servlet -->
    <servlet>
        <servlet-name>OpcMostServer</servlet-name>
        <servlet-class>bpi.most.server.services.opcua.OpcMostServerStartServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpcMostServer</servlet-name>
        <url-pattern>/OpcMostServer</url-pattern>
    </servlet-mapping>

    <!-- JNDI entries -->
    <!-- db properties -->
    <env-entry>
        <env-entry-name>db/hostname</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>demo-most.bpi.tuwien.ac.at</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db/username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mostsoc</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db/password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>demo12</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db/database</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mon_development</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db/conPoolMax</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>10</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db/conPoolMin</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>100</env-entry-value>
    </env-entry>

    <!-- opc properties -->
    <env-entry>
        <env-entry-name>opc/endpoint</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>opc.tcp://tomcat1.bpi.tuwien.ac.at:6001/most/services/opcua</env-entry-value>
        <!--
      endpoint is like
      opc.tcp://<servername>:<port>/<context>
      name has to match the servername!
      demo server:
      opc.tcp://demo-most.bpi.tuwien.ac.at:6001/mostopcua
       -->
    </env-entry>
    <env-entry>
        <env-entry-name>opc/certpath</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/WEB-INF/pki/server.pem</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>opc/keypath</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/WEB-INF/pki/server.key</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>opc/keyphrase</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mostrulez</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>opc/mostusername</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mostsoc</env-entry-value>
    </env-entry>

</web-app>
