<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/service.spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>OpcMostServer</servlet-name>
		<servlet-class>bpi.most.server.services.opcua.OpcMostServerStartServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpcMostServer</servlet-name>
		<url-pattern>/OpcMostServer</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>Acts as service locator for most opc ua server</description>
		<servlet-name>ServiceLocator</servlet-name>
		<servlet-class>bpi.most.server.services.opcua.ServiceLocator</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>opc/endpoint</param-name>
			<param-value>opc.tcp://127.0.0.1:6001/mostopcua</param-value>
		</init-param>
	</servlet>


	<env-entry>
		<env-entry-name>db/hostname</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>demo-most.bpi.tuwien.ac.at</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db/username</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>mostsoc</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db/password</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>demo12</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db/database</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>mon_development</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db/conPoolMax</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>10</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db/conPoolMin</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>100</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>opc/endpoint</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>opc.tcp://127.0.0.1:6001/mostopcua</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>opc/certpath</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/WEB-INF/pki/server.pem</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>opc/keypath</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/WEB-INF/pki/server.key</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>opc/keyphrase</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>mostrulez</env-entry-value>
	</env-entry>

</web-app>