target
*.iml
*.ipr
.DS_Store
.idea
.project
.classpath
.settings
.svn
.gwt
gwt-unitCache
target
most-web/src/main/webapp/most
most-web/src/main/webapp/WEB-INF/classes
most-web/src/main/webapp/WEB-INF/deploy
most-web/src/main/webapp/WEB-INF/lib
war

