<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Most.html</welcome-file>
    </welcome-file-list>

    <!-- Server side startup -->
    <listener>
        <listener-class>
            bpi.most.server.Most
        </listener-class>
    </listener>


    <!-- GWT RPC services -->
    <!-- available at /most/services/gwtrpc/* -->

    <servlet>
        <servlet-name>AuthenticationServiceImpl</servlet-name>
        <servlet-class>bpi.most.server.services.gwtrpc.GwtRpcAuthenticationService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServiceImpl</servlet-name>
        <url-pattern>/most/services/gwtrpc/authentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonModuleServiceImpl</servlet-name>
        <servlet-class>bpi.most.server.services.gwtrpc.GwtRpcPersonModuleService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonModuleServiceImpl</servlet-name>
        <url-pattern>/most/services/gwtrpc/person</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModuleControllerServiceImpl</servlet-name>
        <servlet-class>bpi.most.server.services.gwtrpc.GwtRpcModuleControllerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuleControllerServiceImpl</servlet-name>
        <url-pattern>/most/services/gwtrpc/modulectrl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DatapointServiceImpl</servlet-name>
        <servlet-class>bpi.most.server.services.gwtrpc.GwtRpcDatapointService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatapointServiceImpl</servlet-name>
        <url-pattern>/most/services/gwtrpc/dp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ZoneServiceImpl</servlet-name>
        <servlet-class>bpi.most.server.services.gwtrpc.GwtRpcZoneService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZoneServiceImpl</servlet-name>
        <url-pattern>/most/services/gwtrpc/zone</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventService</servlet-name>
        <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EventService</servlet-name>
        <url-pattern>/most/gwteventservice</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/service.spring.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

</web-app>
